.unitsContainer {
  padding: 3rem 6rem;
}

.lessonContent {
  padding: 2rem 18rem;
}

.CourseManagementGallery {
  padding: 3rem 6rem;
}

.lessonPlaceholder {
  height: 3rem;
}

.unitTitle {
  z-index: 1;
  background-color: #bc1479;
  padding-bottom: 0.5rem;
}

.unitTitle {
  color: white;
}

.unitTitle:hover {
  background-color: #bc1479ea;
}
