@tailwind base;
@tailwind components;
@tailwind utilities;

.lessonContainer {
    display: flex;
    flex: 1;
    margin-top: 12vh;
}

.LessonBody {
    flex: 1;
}

.LessonContent {
    flex: 1;
}

.LessonNavbar {
    position: fixed;
    display: block;
    top: 0;
    z-index: 1;
}

.VideoContainer {
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
}
