.adminBody {
  margin-left: 16rem;
  width: 100vw;
  height: 100vh;
}

.AdminPanelContainer {
  display: flex;
}

.courseCard {
  margin: 0rem 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.adminSidebar {
  padding-top: 2rem;
}
