.TabBar {
  margin-bottom: 1rem;
}

.PageContainer {
  width: 100%;
  padding: 1.5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(242, 242, 242);
}

.pageBody {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0rem;
}

.ContentContainer {
  flex: 1;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.ClassroomInfoForm {
  padding: 0 10rem;
  width: 50vw;
}

.EditorContainer {
  overflow: auto;
}

#custom-animation {
  width: 65vw;
}

#editorjs {
  padding: 2rem 5rem;
  border-radius: 20px;
  min-width: 30vw;
  width: 60vw;
  height: 60vh;
  max-height: 60vh;
  background-color: white;
}

.ce-block__content:has(> .embed-tool) {
  max-width: 70% !important;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.nameInput {
  width: 60vw;
}
